@import "tailwindcss";

@theme {
  /* Colors */
  --color-main-background: #232829;
  --color-base-white: #fff;
  --color-primary: #fdb056;

  --color-header-green: #1D5B43;
  --color-gray: #484D4E;
  --color-gray-light: #dcdcdc;
  --color-gray-dark: #9b9b9b;
  --color-accent-green: #81FE95;
  --color-black: #191e1f;
  --color-black-100: #2d3233;
  --color-black-200: #606566;
  --color-black-300: #cdcdcd;
  --color-black-400:  #313637;
  --color-black-500:  #919191;
  --color-black-600:#3E5A52;
  --color-red: #fd5656;
  --color-danger-red: #ff4e4e;

  /* Border-radius */
  --radius-40: 40px;
  --radius-30: 30px;
  --radius-20: 20px;
  --radius-16: 16px;



}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.animate-blink {
  animation: blink 1s ease-in-out infinite;
}